{% extends 'base.html' %}

{% block head %}

{% load static %}
<title>Admin</title>

{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">

<div id="id-app" style="display: none;">admin</div>

<div class="container-window">
    <div class="admin-title">Panel de administración</div>

    <div class="admin-container">
        <div class="admin-buttons">
            <a href="{% url 'miembros:user_create' %}" class="admin-btn-register">Registrar Usuario</a>
            <a class="admin-btn-register">Registrar Capacitación</a>
        </div>
    
        <div class="admin-list">
            <div class="admin-list-title">Administrar Usuarios</div>
            <hr class="hr-nice">
            
            <a href="#">
                <div class="admin-list-item">
                    <div class="admin-list-item-title">Nombre 1</div>
                </div>
            </a>

        </div>
    
        <div class="admin-list">
            <div class="admin-list-title">Administrar Capacitaciones</div>
            <hr class="hr-nice">

            <a href="#">
                <div class="admin-list-item">
                    <div class="admin-list-item-title">Capacitacion 1</div>
                </div>
            </a>

        </div>
    </div>
    
</div>

{% endblock %}