<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <title>Ingresar</title>
</head>
<body>
    
    <main>
        <div class="container">
            <a class="title"><img src="{% static 'svg/iepam-logo-white.svg' %}"><p>IEPAM</p></a>
            <div class="hero-container">
                <p class="hero-text">Bienvenido a la plataforma de capacitaciones del IEPAM.</p>
                <p class="hero-small">Accede a tu cuenta para continuar <span class="material-icons">arrow_forward</span></p>
            </div>
            <div class="login-container">
                <div class="login-title">Inicia sesión</div>
                <div class="login-form">
                    <input class="login-input" placeholder="Nombre de usuario">
                    <input class="login-input-psw" placeholder="Contraseña">
                    <button class="login-submit"><p>Continuar</p></button>
                    <div class="login-submit-fill"></div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>