{% extends 'base.html' %}

{% block head %}

{% load static %}
<title>{{ extended_user.get_full_name }}</title>

{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div id="id-app" style="display: none;">admin</div>

<div class="container-window">
    <div class="profile-rows">

        <div class="profile-rows-cell">
            <a href="{% url 'panel' %}" class="no-style-a" style="position:absolute;">
                <div class="admin-return">
                    <span class="material-icons">chevron_left</span>
                    Volver al panel
                </div>
            </a>

            <div class="profile-background"></div>
            <div class="profile-picture">
                {% if user.extended_user.profile_pic %}
                    <img src="{{ user.extended_user.profile_pic.url }}">
                {% else %}
                    <img src="{% static 'img/view.jpg' %}">
                {% endif %}
            </div>
            <div class="profile-name">
                <p class="profile-main-name">{{ extended_user.get_full_name }}</p>
                <p class="profile-secondary-name">
                    {% if extended_user.canTeach %}
                        Capacitador
                    {% else %}
                        Usuario
                    {% endif %}
                </p>
            </div>
            <a href="{% url 'users:user_update' id=user.pk %}" class="user-edit-info-secondary">Editar Perfil</a>
        </div>

        
        <div class="profile-rows-cell">
            <div class="user-cards-container">
                <div class="user-info-container">
                    <p class="user-info-title">Información del usuario</p>
                    <hr class="hr-nice">
                    <div class="user-info-field-container">
                        <p class="user-info-prompt">Nombre Completo</p>
                        <input class="user-info-field" readonly=true value="{{ extended_user.get_full_name }}">
                    </div>
                    <div class="user-info-field-container">
                        <p class="user-info-prompt">Correo electrónico</p>
                        <input class="user-info-field" readonly=true value="{{ extended_user.user.email }}">
                    </div>
                    <div class="user-info-field-container">
                        <p class="user-info-prompt">Fecha de Nacimiento</p>
                        <input class="user-info-field" readonly=true value="{{ extended_user.user.extended_user.birthdate }}">
                    </div>
                    <div class="user-info-field-container">
                        <p class="user-info-prompt">Nivel Académico</p>
                        <input class="user-info-field" readonly=true value="{{ extended_user.user.extended_user.academic_level }}">
                    </div>
                    <div class="user-info-field-container" style="text-align: center; margin-top: 2rem; margin-bottom: 0.6rem;">
                        <a class="user-info-cv" href="">Descargar CV&nbsp;<span class="material-icons">file_download</span></a>
                        <!-- <input type="file" class="user-info-field" readonly=true value="Preparatoria"> -->
                    </div>
                    <br>
                </div>
            
                <div class="user-current-courses-container">
                    <p class="user-info-title">Capacitaciones actuales</p>
                    <hr class="hr-nice">

                {% include 'users/_user_courses_snippet.html' with courses=incomplete_courses %}

                    <br>
                </div>
            
                <div class="user-current-courses-container">
                    <p class="user-info-title">Capacitaciones Completadas</p>
                    <hr class="hr-nice">
            
                    {% include 'users/_user_courses_snippet.html' %}
            
                    <br>
                </div>
            </div>
        </div>

    </div>
    
</div>

{% endblock %}
