<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS -->    
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

    <title>Eliminar</title>
    <link rel="icon" type="svg" href="{% static 'svg/iepam-logo-white.svg' %}">
</head>
<body>
    
    <main>
        <div class="container">
            <a class="title"><img src="{% static 'svg/iepam-logo-white.svg' %}"><p>IEPAM</p></a>
            <div class="register-container">
                <div class="register-subtitle">Actualizar Imagen</div>
                <form class="register-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.non_field_errors}}

                    <div class="custom-file-input">
                        {{ form.profile_pic.errors }}
                        {{ form.profile_pic }}
                    </div>

                    <div class="btn-container-vertical">
                        <button type="submit">Actualizar s</button>
                        {% if profile_view %}
                            <a class="btn-cancel" href="{% url 'users:user_profile'  %}">Cancelar</a>
                        {% else %}
                            <a class="btn-cancel" href="{% url 'users:user_detail' id=extended_user.user.pk %}">Cancelar</a>
                        {% endif %}
                    </div>
                </form>

            </div>
        </div>
    </main>
</body>
</html>