a {
    text-decoration: none;
    color: #202022;
}

.admin-container {
    display: flex;
}

.admin-title {
    margin: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0;
    font-size: 52px;
    font-weight: 700;
    color: #202022;
}

.admin-buttons {
    position: absolute;
    top: 24px;
    right: 24px;
    margin: 1rem;
    float: right;
}

.hr-nice {
    margin-top: 0;
    margin-bottom: 1rem;
    height: 2px;
    background-color: #7c7c7c;
    border: none;
    border-radius: 1rem;
}

.admin-btn-register {
    font-size: 16px;
    font-weight: 600;
    margin: 0.3rem;
    padding: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #4e039b;
    color: white;
    box-shadow: 0 0 10px rgb(211, 211, 211);
}
.admin-btn-register:hover {
    background-color: #813cc7;
}

.admin-list {
    margin: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(211, 211, 211);
}
.admin-list-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.admin-list-item {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% - 2rem);
    height: fit-content;
    border-radius: 0.6rem;
    background-color: whitesmoke;
    overflow: hidden;
}
.admin-list-item-title {
    font-size: 16px;
    font-weight: 600;
}
.admin-list-item-desc {
    max-width: 300px;
    font-size: 14px;
    font-weight: 400;
    flex-wrap: wrap;
}