.course-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 20px;
    margin: 0;
    padding: 1rem;
}

.side-panel {
    background-color: whitesmoke;
    margin: 1rem;
    margin-left: 2rem;
    width: 94%;
    height: 80vh;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgb(201, 201, 201);
}

.course-title {
    margin: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    font-size: 42px;
    font-weight: 700;
    color: #202022;
}

.course-author {
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    color: rgb(102, 102, 102);
}

.course-info {
    text-decoration: none;
    color: #202022;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    margin: 1rem;
    margin-right: 0rem;
    padding: 0.6rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgb(211, 211, 211);
}
.course-info span {
    font-size: 22px;
    margin-right: 4px;
}
.course-info p {
    margin: 0;
    padding: 0;
    margin-top: 2px;
    margin-left: 4px;
    vertical-align: middle;
}

.course-info-num {
    font-weight: 700;
}

.course-module-container {
    width: 100%;
    height: fit-content;
    margin: 0.5rem;
    max-height: 70vh;
    padding: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.module {
    display: block;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgb(211, 211, 211);
    margin-bottom: 1.2rem;
}

.module-header {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 0fr 0fr;
    grid-gap: 5px;
}

.module-title {
    font-weight: 700;
    font-size: 24px;
}

.module-title-main {
    font-weight: 700;
    font-size: 32px;
    margin-left: 2rem;
}

.button-add {
    width: 32px;
    height: 31px;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    border: none;
    background-color: #20CC82;
    color: white;
    box-shadow: 0 0 10px rgb(211, 211, 211);
}
.button-add:hover {
    background-color: #20CC82;
    box-shadow: 0 0 10px #20CC82;
}

.button-edit {
    width: 32px;
    height: 31px;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    border: none;
    background-color: #555555;
    color: white;
    box-shadow: 0 0 10px rgb(211, 211, 211);
}
.button-edit:hover {
    background-color: #424242;
    box-shadow: 0 0 10px #6d6d6d;
}

.module-item {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    padding: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.module-item:hover {
    background-color: white;
}

.module-item-icon {
    font-size: 28px;
    margin-top: 0.4rem;
    margin-right: 0.8rem;
}

.module-item-title {
    font-weight: 600;
}

.module-item-grade {
    color: rgb(102, 102, 102);
}

.module-add {
    display: block;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    background-color: #20CC82;
    color: white;
    box-shadow: 0 0 10px rgb(211, 211, 211);
}
.module-add:hover {
    background-color: #20CC82;
    box-shadow: 0 0 10px #20CC82;
}

.spaceing {
    width: 1px;
    height: 1px;
}

.button-edit-2 {
    display: inline-flex;
    width: fit-content;
    min-width: 170px;
    height: fit-content;
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0.5rem;
    margin: 1rem;
    margin-bottom: 0;
    margin-right: 0;
    border: none;
    background-color: #555555;
    color: white;
    box-shadow: 0 0 10px rgb(211, 211, 211);
    transform: translateY(15px);
}
.button-edit-2:hover {
    background-color: #424242;
    box-shadow: 0 0 10px #6d6d6d;
}

.button-edit-2 span {
    height: 24px;
    margin-top: 12px;
    margin-left: 8px;
}

.button-delete {
    display: inline-flex;
    width: fit-content;
    min-width: 95px;
    height: fit-content;
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0.5rem;
    margin: 1rem;
    margin-bottom: 0;
    border: none;
    background-color: #b44d4d;
    color: white;
    box-shadow: 0 0 10px rgb(211, 211, 211);
    transform: translateY(15px);
}
.button-delete:hover {
    background-color: #c74848;
    box-shadow: 0 0 10px #ff6363;
}

.button-delete span {
    height: 24px;
    margin-top: 12px;
    margin-left: 8px;
}

.checked {
    background-color: rgb(221, 240, 223);
    border: 1px solid rgb(195, 204, 196);
}
.checked:hover {
    background-color: rgb(228, 250, 231);
}

.locked {
    background-color: rgb(223, 223, 223);
    border: 1px solid lightgray;
}
.locked:hover {
    background-color: rgb(223, 223, 223);
}

.locked-text {
    color: gray;
}

.checkmark {
    font-size: 30px !important;
    margin: 0;
    margin-top: 0.3rem;
    margin-right: 0.6rem;
    color:rgb(146, 167, 147);
}

.lock {
    font-size: 30px !important;
    margin: 0;
    margin-top: 0.3rem;
    margin-right: 0.6rem;
    color:gray;
}

.checked-text {
    color:rgb(146, 167, 147);
}

.members-container {
    margin: 1rem;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    height: 80%;
}

.member-cell {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgb(211, 211, 211);
    overflow-y: auto;
}

.search-container {
    display: grid;
    grid-template-columns: 70% 30%;
}

.searchbar {
    width: 100%;
    height: 36px;
    margin: 1rem;
    margin-left: 0;
    margin-top: 0;
    padding: 0.2rem;
    padding-left: 1rem;
    font-size: 18px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgb(211, 211, 211);
    transition: all 0.2s ease-in-out;
}
.searchbar:focus {
    outline: none !important;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgb(185, 185, 185);
}
.searchbar-icon {
    color: gray;
    font-size: 24px;
    margin: 0;
    padding: 0;
    transform: translate(-60px, 5px);
    pointer-events: none;
}

.search-button {
    height: 42px;
    margin-left: 2rem;
    border-radius: 0.5rem;
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    outline: none;
    background-color: #20CC82;
    font-size: 18px;
    font-weight: 600;
    color: white;
    box-shadow: 0 0 10px rgb(211, 211, 211);
}
.search-button:hover {
    background-color: #20CC82;
    box-shadow: 0 0 10px #20CC82;
}

.member {
    display: grid;
    grid-template-columns: 1fr 0fr;
    border-radius: 0.5rem;
    margin-bottom: 0.3rem;
}
.member:hover {
    background-color: whitesmoke;
}
.member-name {
    padding-left: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 16px;
    font-weight: 500;
    color: #202022;
    text-decoration: none;
}

.delete-member {
    background-color: #b44d4d;
    color: white !important;
    padding-bottom: 0.3rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-top: 0.5rem !important;
    border-radius: 0.5rem;
    font-size: 16px;
}
.delete-member:hover {
    background-color: #c74848;
    box-shadow: 0 0 10px #ff6363;
}

.add-member {
    background-color: #20CC82;
    color: white !important;
    padding: 0.6rem;
    padding-top: 0.6rem;
    padding-bottom: 0.3rem !important; 
    padding-left: 0.5rem !important;
    border-radius: 0.5rem;
    font-size: 16px;
}
.add-member:hover {
    background-color: #20CC82;
    box-shadow: 0 0 10px #20CC82;
}

.return {
    margin: 1rem;
    margin-bottom: 0.5rem;
    display: inline-flex;
    font-weight: 500;
    font-size: 18px;
    background-color: white;
    padding: 0.5rem;
    padding-right: 0.8rem;
    border-radius: 0.5rem;
}
.return span {
    font-size: 24px;
}
.return:hover {
    box-shadow: 0 0 10px rgb(211, 211, 211);
}