a {
    text-decoration: none;
    color: #202022;
}

.profile-rows {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 280px 1fr;
}

.profile-rows-cell {
    display: contents;
}

.profile-background {
    position: absolute;
    top: -1px;
    left: 0px;
    width: 100%;
    height: 160px;
    border-radius: 1rem 0 0 0;
    background-color: darkgray;
}

.profile-picture {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid white;
    color: white;
}
.profile-picture img {
    height: 100%;
    width: auto;
}

.profile-name p {
    position: absolute;
    top: 130px;
    left: 290px;
}
.profile-name .profile-main-name {
    font-size: 42px;
    font-weight: 700;
    color: #202022;
}
.profile-name .profile-secondary-name {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: rgb(102, 102, 102);
    transform: translateY(72px);
}

.user-info-container {
    margin: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(211, 211, 211);
}
.user-info-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.1rem;
}

.user-info-group-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.user-info-field-container {
    width: fit-content;
    margin: 0;
}
.user-info-field-container input{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    background-color: whitesmoke;
    color:#202022;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    outline: none;
    border-bottom: 3px solid #acacac;
    transition: all 0.2s ease-in-out;
}
input:focus {
    outline: none;
    border-bottom: 3px solid #202022;
    box-shadow: 0 0 10px #acacac;
}
.user-info-field-container select{
    max-width: 80px;
    font-size: 16px;
    font-weight: 400;
    background-color: whitesmoke;
    color:#202022;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    border: none;
    outline: none;
    border-bottom: 3px solid #acacac;
    transition: all 0.2s ease-in-out;
}
input:focus {
    outline: none;
    border-bottom: 3px solid #202022;
    box-shadow: 0 0 10px #acacac;
}

.user-info-cv {
    width: 100%;
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #4e039b;
    border-radius: 1rem;
}
.user-info-cv span {
    font-size: 18px;
    vertical-align: middle;
}
.user-info-cv:hover {
    background-color: #813cc7;
    box-shadow: 0 0 10px #813cc7;
}

.hr-nice {
    margin-top: 0;
    margin-bottom: 1rem;
    height: 2px;
    background-color: #7c7c7c;
    border: none;
    border-radius: 1rem;
}

.user-current-courses-container {
    margin: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(211, 211, 211);
}

.user-course-card {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% - 2rem);
    height: fit-content;
    border-radius: 0.6rem;
    background-color: whitesmoke;
    overflow: hidden;
}
.user-course-card-title {
    font-size: 16px;
    font-weight: 600;
}
.user-course-card-desc {
    max-width: 300px;
    font-size: 14px;
    font-weight: 400;
    flex-wrap: wrap;
}

.user-edit-info {
    position: relative;
    width: 100%;
    height: -20px;
    font-size: 16px;
    font-weight: 600;
    margin: 0rem;
    margin-top: 1rem;
    padding: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #4e039b;
    color: white;
    box-shadow: 0 0 10px rgb(211, 211, 211);
    transition: all 0.2s ease-in-out;
}
.user-edit-info:hover {
    background-color: #813cc7;
    box-shadow: 0 0 10px #813cc7;
}

.user-edit-info-secondary {
    position: absolute;
    height: 20px;
    top: 180px;
    right: 10vw;
    font-size: 16px;
    font-weight: 600;
    margin: 0.3rem;
    padding: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #202022;
    color: white;
    box-shadow: 0 0 10px rgb(211, 211, 211);
    transition: all 0.2s ease-in-out;
}
.user-edit-info-secondary:hover {
    background-color: #676767;
}

.user-cards-container {
    display: flex;
    height: 100%;
    overflow-y: scroll;
}

.admin-return {
    position: absolute;
    width: 154px;
    display: inline-flex;
    font-weight: 500;
    font-size: 18px;
    background-color: #202022;
    color: white;
    font-weight: 500;
    border-radius: 0.5rem;
    z-index: 1;
    padding: 0.5rem;
    padding-right: 0.8rem;
}
.admin-return span {
    font-size: 24px;
}
.admin-return:hover {
    box-shadow: 0 0 10px rgb(211, 211, 211);
}