.panel-title {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

.panel-subtitle {
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1rem;
    color: rgb(102, 102, 102);
}
.panel-subtitle span {
    font-size: 20px;
    vertical-align: middle;
}

.panel-info-container {
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 2rem;
}

.panel-info {
    text-align: center;
    text-decoration: none;
    color: rgb(102, 102, 102);
}
.panel-info p {
    margin: 0;
}

.panel-info-text {
    display: inline-flex;
    height: fit-content;
}
.panel-info-text p {
    font-size: 18px;
    font-weight: 600;
    margin-left: 0.35rem;
}

.panel-description {
    text-align: center;
    margin: 2rem;
    margin-top: 0.5rem;
}

.like {
    transition: all 0.1s ease-in-out;
}
.like:hover {
    color: #202022;
}

.liked {
    color:#813cc7;
}

.progress-bar {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.progress-bar-bar {
    padding: 0;
    margin: 0;
    height: 10px;
    background-color: lightgray;
    border-radius: 1rem;
    margin-top: 1rem;
    overflow: hidden;
}

.progress-bar-fill {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #20CC82;
    transform-origin: left;
    transform: scaleX(0.5);
    z-index: 1;
}