<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS -->    
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

    <title>Editar Actividad</title>
    <link rel="icon" type="svg" href="{% static 'svg/iepam-logo-white.svg' %}">
</head>
<body>
    
    <main>
        <div class="container">
            <a class="title"><img src="{% static 'svg/iepam-logo-white.svg' %}"><p>IEPAM</p></a>
            <div class="register-container">
                <div class="register-title">Editar actividad</div>

                <div style="display: none;">
                    <a href=""><div id="lectura" class="register-activity-type-item"><span class="material-icons">book</span><p>Lectura</p></div></a>
                    <a href=""><div id="actividad" class="register-activity-type-item"><span class="material-icons">description</span><p>Actividad</p></div></a>
                    <a href=""><div id="video" class="register-activity-type-item"><span class="material-icons">smart_display</span><p>Video</p></div></a>
                    <a href=""><div id="quiz" class="register-activity-type-item"><span class="material-icons">quiz</span><p>Quiz</p></div></a>
                    <a href=""><div id="resource" class="register-activity-type-item"><span class="material-icons">folder</span><p>Resource</p></div></a>
                </div>

                <div id="div-lectura" class="">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ lec_form.non_field_errors}}
                
                        <label>Título</label>
                        <div class="input-line">
                            {{ lec_form.name.errors }}
                            {{ lec_form.name }}
                        </div>

                        <label>Descripción</label>
                        <div class="input-line">
                            {{ lec_form.description.errors }}
                            {{ lec_form.description }}
                        </div>

                        <label>Autor</label>
                        <div class="input-line">
                            {{ lec_form.author.errors }}
                            {{ lec_form.author }}
                        </div>

                        <label>Contenido</label>
                        <div class="input-line">
                            {{ lec_form.content.errors }}
                            {{ lec_form.content }}
                        </div>
                        
                        <div style="text-align: center;">
                            <a href="{% url 'cursos:course_detail' id=modulo.curso.pk %}" class="btn-cancel margin-right-btn">Cancelar</a>
                            <button class="btn-register" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>

                <div id="div-actividad" class="">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ act_form.non_field_errors}}
                
                        <label>Título</label>
                        <div class="input-line">
                            {{ act_form.name.errors }}
                            {{ act_form.name }}
                        </div>

                        <label>Instrucciones</label>
                        <div class="input-line">
                            {{ act_form.description.errors }}
                            {{ act_form.description }}
                        </div>

                        <label>Especificaciones de entrega</label>
                        <div class="input-line">
                            {{ act_form.instructions.errors }}
                            {{ act_form.instructions }}
                        </div>
                        
                        <div style="text-align: center;">
                            <a href="{% url 'cursos:course_detail' id=modulo.curso.pk %}" class="btn-cancel margin-right-btn">Cancelar</a>
                            <button class="btn-register" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>

                <div id="div-video" class="">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ vid_form.non_field_errors}}
                
                        <label>Título</label>
                        <div class="input-line">
                            {{ vid_form.name.errors }}
                            {{ vid_form.name }}
                        </div>

                        <label>URL (Link al video)</label>
                        <div class="input-line">
                            {{ vid_form.url.errors }}
                            {{ vid_form.url }}
                        </div>

                        <label>Descripción</label>
                        <div class="input-line">
                            {{ vid_form.description.errors }}
                            {{ vid_form.description }}
                        </div>
                        
                        <div style="text-align: center;">
                            <a href="{% url 'cursos:course_detail' id=modulo.curso.pk %}" class="btn-cancel margin-right-btn">Cancelar</a>
                            <button class="btn-register" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>

                <div id="div-resource" class="">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ resource_form.non_field_errors }}

                        <label for="">Titulo</label>
                        <div>
                            {{ resource_form.title.errors }}
                            {{ resource_form.title }}
                        </div>

                        <label for="">Descripción</label>
                        <div>
                            {{ resource_form.description.errors }}
                            {{ resource_form.description }}
                        </div>

                        <label for="">Archivo</label>
                        <div>
                            {{ resource_form.resource.errors }}
                            {{ resource_form.resource }}
                        </div>

                        <a href="{% url 'cursos:course_detail' id=modulo.curso.pk %}">Cancelar</a>
                        <button type="submit">Crear</button>
                    </form>
                </div>

            </div>
        </div>

        <!-- HIDDEN ARGS FOR JS -->
        <div id="action" style="visibility: hidden;">{{ action }}</div>

        <script src="{% static 'js/create-item.js' %}"></script>
    </main>    
</body>
</html>