{% extends 'base.html' %}

{% block head %}

{% load static %}
<title>Capacitacion</title>

{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/course.css' %}">

<div id="id-app" style="display: none;">cap</div>

<div class="container-window">

    <div class="course-container">

        <div>
            <div class="course-title">{{ course.name }}</div>
            <!-- href="{% url 'users:user_detail' id=course.owner.pk %}" -->
            <div class="course-author">Capacitación creada por <a>{{ course.owner.get_full_name }}</a></div>

            <div class="course-module-container">
            
                <!-- FOR EACH MODULE -->
                {% for mod in modules %}
                <div class="module">

                    <div class="module-header">
                        <div class="module-title">Módulo: {{ mod.name }}</div>

                        {% if is_owner %}
                            <a href="{% url 'cursos:course_edit_module' id=mod.pk %}" class="button-edit tooltip">
                                <span class="material-icons">edit</span>
                                <div class="tooltiptext">Editar módulo</div>
                            </a>
                            <a href="{% url 'cursos:course_create_item' id=mod.pk action=1 %}" class="button-add tooltip">
                                <span class="material-icons">add</span>
                                <div class="tooltiptext">Agregar elemento</div>
                            </a>
                        {% endif %}
                    </div>

                    <br>

                    <!-- ! Agregar cambios para resources -->
                    {% for resource in mod.archivos.all %}
                        {% if is_member or is_owner %}
                            <a href="{% url 'cursos:course_resource' id=resource.pk %}" class="no-style-a">
                                {% if resource in viewed_resources %}
                                    <div class="module-item checked">
                                        <span class="material-icons module-item-icon checked-text">folder</span>
                                        <div>
                                            <div class="module-item-title checked-text">Recurso: {{ lec.name }}</div>
                                                <div class="module-item-grade checked-text">Leído</div>
                                        </div>
                                        <span class="material-icons checkmark">done</span>
                                    </div>
                                {% else %}
                                    <div class="module-item">
                                        <span class="material-icons module-item-icon">folder</span>
                                        <div>
                                            <div class="module-item-title">Recurso: {{ resource.title }}</div>
                                                <div class="module-item-grade">No leído</div>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>
                        {% else %}
                            <div class="module-item locked">
                                <span class="material-icons module-item-icon locked-text">folder</span>
                                <div>
                                    <div class="module-item-title locked-text">Lectura: {{ lec.name }}</div>
                                        <div class="module-item-grade locked-text">No leído</div>
                                </div>
                                <span class="material-icons lock">lock</span>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for lec in mod.lecturas.all %}
                        {% if is_member or is_owner %}
                            <a href="{% url 'cursos:course_lecture' id=lec.pk %}" class="no-style-a">
                                {% if lec in user.read_lectures.all %}
                                    <div class="module-item checked">
                                        <span class="material-icons module-item-icon checked-text">book</span>
                                        <div>
                                            <div class="module-item-title checked-text">Lectura: {{ lec.name }}</div>
                                                <div class="module-item-grade checked-text">Leído</div>
                                        </div>
                                        <span class="material-icons checkmark">done</span>
                                    </div>
                                {% else %}
                                    <div class="module-item">
                                        <span class="material-icons module-item-icon">book</span>
                                        <div>
                                            <div class="module-item-title">Lectura: {{ lec.name }}</div>
                                                <div class="module-item-grade">No leído</div>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>
                        {% else %}
                            <div class="module-item locked">
                                <span class="material-icons module-item-icon locked-text">book</span>
                                <div>
                                    <div class="module-item-title locked-text">Lectura: {{ lec.name }}</div>
                                        <div class="module-item-grade locked-text">No leído</div>
                                </div>
                                <span class="material-icons lock">lock</span>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for act in mod.actividades.all %}
                        {% if is_member or is_owner %}
                            {% if act in turned_activities %}
                            <a href="{% url 'cursos:course_activity' id=act.pk %}" class="no-style-a">
                                <div class="module-item checked">
                                    <span class="material-icons module-item-icon checked-text">description</span>
                                    <div>
                                        <div class="module-item-title checked-text">Entregable: {{ act.name }}</div>
                                        <div class="module-item-grade checked-text">Entregado</div>
                                    </div>
                                    <span class="material-icons checkmark">done</span>
                                </div>
                            </a>
                            {% else %}
                            <a href="{% url 'cursos:course_activity' id=act.pk %}" class="no-style-a">
                                <div class="module-item">
                                    <span class="material-icons module-item-icon">description</span>
                                    <div>
                                        <div class="module-item-title">Entregable: {{ act.name }}</div>
                                        <div class="module-item-grade">No entregado</div>
                                    </div>
                                </div>
                            </a>
                            {% endif %}
                        {% else %}
                            <div class="module-item locked">
                                <span class="material-icons module-item-icon locked-text">description</span>
                                <div>
                                    <div class="module-item-title locked-text">Entregable: {{ act.name }}</div>
                                    <div class="module-item-grade locked-text">No entregado</div>
                                </div>
                                <span class="material-icons lock">lock</span>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for vid in mod.videos.all %}
                        {% if is_member or is_owner %}
                            <a href="{% url 'cursos:course_video' id=vid.pk %}" class="no-style-a">
                                {% if vid in user.watched_videos.all %}
                                    <div class="module-item checked">
                                        <span class="material-icons module-item-icon checked-text">smart_display</span>
                                        <div>
                                            <div class="module-item-title checked-text">Video: {{ vid.name }}</div>
                                            <div class="module-item-grade checked-text">Visto</div>
                                        </div>
                                        <span class="material-icons checkmark">done</span>
                                    </div>
                                {% else %}
                                    <div class="module-item">
                                        <span class="material-icons module-item-icon">smart_display</span>
                                        <div>
                                            <div class="module-item-title">Video: {{ vid.name }}</div>
                                            <div class="module-item-grade">No Visto</div>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>
                        {% else %}
                            <div class="module-item locked">
                                <span class="material-icons module-item-icon locked-text">smart_display</span>
                                <div>
                                    <div class="module-item-title locked-text">Video: {{ vid.name }}</div>
                                    <div class="module-item-grade locked-text">No Visto</div>
                                </div>
                                <span class="material-icons lock">lock</span>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for quiz in mod.quizzes.all %}

                    {% if is_owner %}
                            <a href="{% url 'cursos:course_quiz' id=quiz.pk %}" class="no-style-a">
                                <div class="module-item">
                                    <span class="material-icons module-item-icon">quiz</span>
                                    <div>
                                        <div class="module-item-title">Quiz: {{ quiz.name }}</div>
                                        <div class="module-item-grade">No realizado</div>
                                    </div>
                                </div>
                            </a>
                    {% elif is_member %}
                        {% if quiz in answered_quizzes %}
                            <a href="{% url 'cursos:course_quiz_answered' id=quiz.pk %}" class="no-style-a">
                                <div class="module-item checked">
                                    <span class="material-icons module-item-icon checked-text">quiz</span>
                                    <div>
                                        <div class="module-item-title checked-text">Quiz: {{ quiz.name }}</div>
                                        <div class="module-item-grade checked-text">Completado</div>
                                    </div>
                                    <span class="material-icons checkmark">done</span>
                                </div>
                            </a>
                        {% else %}
                            <a href="{% url 'cursos:course_quiz_answer' id=quiz.pk %}" class="no-style-a">
                                <div class="module-item">
                                    <span class="material-icons module-item-icon">quiz</span>
                                    <div>
                                        <div class="module-item-title">Quiz: {{ quiz.name }}</div>
                                        <div class="module-item-grade">No realizado</div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% else %}
                        <div class="module-item locked">
                            <span class="material-icons module-item-icon locked-text">quiz</span>
                            <div>
                                <div class="module-item-title locked-text">Quiz: {{ quiz.name }}</div>
                                <div class="module-item-grade locked-text">No realizado</div>
                            </div>
                            <span class="material-icons lock">lock</span>
                        </div>
                    {% endif %}
                    
                    {% endfor %}

                    <!-- ! Agregar cambios de hangman -->
                    {% for hangman in mod.hangmangames.all %}
                        {% if is_owner %}
                            <a href="{% url 'cursos:course_hangman' id=hangman.pk %}" class="no-style-a">
                                <div class="module-item">
                                    <span class="material-icons module-item-icon">text_fields</span>
                                    <div>
                                        <div class="module-item-title">Ahorcado: {{ hangman.title }}</div>
                                        <div class="module-item-grade">No Completado</div>
                                    </div>
                                </div>
                            </a>
                        {% elif is_member %}
                            <a href="{% url 'cursos:course_hangman_play' id=hangman.pk %}" class="no-style-a">
                                {% if hangman in user.completed_hangmans.all %}
                                    <div class="module-item checked">
                                        <span class="material-icons module-item-icon checked-text">text_fields</span>
                                        <div>
                                            <div class="module-item-title checked-text">Ahorcado: {{ hangman.title }}</div>
                                                <div class="module-item-grade checked-text">Completado</div>
                                        </div>
                                        <span class="material-icons checkmark">done</span>
                                    </div>
                                {% else %}
                                    <div class="module-item">
                                        <span class="material-icons module-item-icon">text_fields</span>
                                        <div>
                                            <div class="module-item-title">Ahorcado: {{ hangman.title }}</div>
                                                <div class="module-item-grade">No Completado</div>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>
                        {% else %}
                            <div class="module-item locked">
                                <span class="material-icons module-item-icon locked-text">text_fields</span>
                                <div>
                                    <div class="module-item-title locked-text">Ahorcado: {{ hangman.title }}</div>
                                        <div class="module-item-grade locked-text">No Completado</div>
                                </div>
                                <span class="material-icons lock">lock</span>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <!-- ! Agregar cambios de sopa -->
                    {% for sopa in mod.sopagames.all %}
                        {% if is_owner %}
                            <a href="{% url 'cursos:course_sopa' id=sopa.pk %}" class="no-style-a">
                                <div class="module-item">
                                    <span class="material-icons module-item-icon">pattern</span>
                                    <div>
                                        <div class="module-item-title">Sopa de letras: {{ sopa.title }}</div>
                                        <div class="module-item-grade">No Completado</div>
                                    </div>
                                </div>
                            </a>
                        {% elif is_member %}
                            <a href="{% url 'cursos:course_sopa_complete' id=sopa.pk %}" class="no-style-a">
                                {% if sopa in user.completed_sopas.all %}
                                    <div class="module-item checked">
                                        <span class="material-icons module-item-icon checked-text">pattern</span>
                                        <div>
                                            <div class="module-item-title checked-text">Sopa de letras: {{ sopa.title }}</div>
                                                <div class="module-item-grade checked-text">Completado</div>
                                        </div>
                                        <span class="material-icons checkmark">done</span>
                                    </div>
                                {% else %}
                                    <div class="module-item">
                                        <span class="material-icons module-item-icon">pattern</span>
                                        <div>
                                            <div class="module-item-title">Sopa de letras: {{ sopa.title }}</div>
                                                <div class="module-item-grade">No Completado</div>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>
                        {% else %}
                            <div class="module-item locked">
                                <span class="material-icons module-item-icon locked-text">pattern</span>
                                <div>
                                    <div class="module-item-title locked-text">Sopa de letras: {{ sopa.title }}</div>
                                        <div class="module-item-grade locked-text">No Completado</div>
                                </div>
                                <span class="material-icons lock">lock</span>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <!-- ! Agregar cambios de puzzle -->
                    {% for puzzle in mod.puzzlegames.all %}
                        {% if is_owner %}
                            <a href="{% url 'cursos:course_puzzle' id=puzzle.pk %}" class="no-style-a">
                                <div class="module-item">
                                    <span class="material-icons module-item-icon">extension</span>
                                    <div>
                                        <div class="module-item-title">Rompecabezas: {{ puzzle.title }}</div>
                                        <div class="module-item-grade">No Completado</div>
                                    </div>
                                </div>
                            </a>
                        {% elif is_member %}
                            <a href="{% url 'cursos:course_puzzle_complete' id=puzzle.pk %}" class="no-style-a">
                                {% if puzzle in completed_puzzles %}
                                    <div class="module-item checked">
                                        <span class="material-icons module-item-icon checked-text">extension</span>
                                        <div>
                                            <div class="module-item-title checked-text">Rompecabezas: {{ puzzle.title }}</div>
                                                <div class="module-item-grade checked-text">Completado</div>
                                        </div>
                                        <span class="material-icons checkmark">done</span>
                                    </div>
                                {% else %}
                                    <div class="module-item">
                                        <span class="material-icons module-item-icon">extension</span>
                                        <div>
                                            <div class="module-item-title">Rompecabezas: {{ puzzle.title }}</div>
                                                <div class="module-item-grade">No Completado</div>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>
                        {% else %}
                            <div class="module-item locked">
                                <span class="material-icons module-item-icon locked-text">extension</span>
                                <div>
                                    <div class="module-item-title locked-text">Rompecabezas: {{ puzzle.title }}</div>
                                        <div class="module-item-grade locked-text">No Completado</div>
                                </div>
                                <span class="material-icons lock">lock</span>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
                {% endfor %}
                <!-- END OF MODULES -->
                
                {% if is_owner %}
                    <a class="module-add" href="{% url 'cursos:course_create_module' id=course.pk %}" style="text-decoration: none;">
                        Agregar Módulo
                    </a>
                {% endif %}

            </div>

        </div>

        <div>
            <div class="side-panel">
                {% include 'cursos/side_panel.html' %}
            </div>
        </div>

    </div>
    

</div>

{% endblock %}