{% extends 'base.html' %}

{% block head %}

{% load static %}
<title>Capacitacion</title>

{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/course.css' %}">

<div id="id-app" style="display: none;">cap</div>

<div class="container-window">
    <div class="course-title">Nombre Curso</div>
    <div class="course-likes"><span class="material-icons">thumb_up</span><p>12</p></div>
    <div class="course-members"><span class="material-icons">person</span><p>3</p></div>
</div>

{% endblock %}