{% extends 'base.html' %}

{% block head %}

{% load static %}
<title>Capacitacion</title>

{% endblock %}

{% block body %}

<div id="id-app" style="display: none;">cap</div>

<div class="container-window">
    <div class="menu-header">
        <form method="get">
            <input class="searchbar" placeholder="¿En que te quieres capacitar?" name="curso" id="curso">
            <button class="searchbar-icon">
                <span class="material-icons">search</span>
            </button>
        </form>
        {% if extended_user.can_teach %}
        <a href="{% url 'cursos:adcourse_create' %}" class="menu-btn-register tooltip">
            <span class="material-icons">add</span>
            <div class="tooltiptext">Registrar nueva capacitación</div>
        </a>
        {% endif %}
    </div>

    <div class="tag-container">
        <div class="tags">
            <ul>
                <a href="{% url 'cursos:menu' %}?cursos=Todos">
                    <il id="todas">
                        Todas
                    </il>
                </a>
                <a href="{% url 'cursos:menu' %}?cursos=No Tomado">
                    <il id="no_tomadas">
                        No tomadas
                    </il>
                </a>
                <a href="{% url 'cursos:menu' %}?cursos=Cursando">
                    <il id="en_curso">
                        En curso
                    </il>
                </a>
                <a href="{% url 'cursos:menu' %}?cursos=Completado">
                    <il id="completadas">
                        Completadas
                    </il>
                </a>
            </ul>
        </div>
    </div>

    <div class="card-container">
        <!-- FOR ALL COURSES -->
        {% for curso in cursos %}
        <a href="{% url 'cursos:course_detail' id=curso.pk %}">
            <div class="card">
                <div class="card-img-container">
                    <img src="{% static 'img/view.jpg' %}">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        {{ curso.name }}
                    </div>
                    <div class="card-content">
                        {{ curso.description }}
                    </div>
                    <div style="display: inline-flex">
                        <div class="card-members">
                            <span class="material-icons">people</span>
                            <p>{{ curso.members.count }}</p>
                        </div>
                        <div class="card-likes">
                            <span class="material-icons">thumb_up</span>
                            <p>{{ curso.likes.count }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/search-tags.js' %}"></script>

{% endblock %}