{% extends 'base.html' %}

{% block head %}

{% load static %}
<title>Capacitacion</title>

{% endblock %}

{% block body %}

<div id="id-app" style="display: none;">cap</div>

<div class="container-window">
    <form method="get">
        <input class="searchbar" placeholder="Buscar..." name="curso" id="curso">
        <button>
            <span class="material-icons searchbar-icon">search</span>
        </button>

    </form>

    <div class="tag-container">
        <div class="tags">
            <ul>
                <il class="active">
                    <a href="{% url 'cursos:menu' %}?cursos=Todos">Todas</a>
                </il>
                <il>
                    <a href="{% url 'cursos:menu' %}?cursos=No Tomado">No tomadas</a>
                </il>
                <il>
                    <a href="{% url 'cursos:menu' %}?cursos=Cursando">En curso</a>
                </il>
                <il>
                    <a href="{% url 'cursos:menu' %}?cursos=Completado">Completadas</a>
                </il>
            </ul>
        </div>
    </div>

    <div class="card-container">
        <!-- FOR ALL COURSES -->
        {% for curso in cursos %}
        <a href="{% url 'cursos:course_detail' id=curso.pk %}">
            <div class="card">
                <div class="card-img-container">
                    <img src="{% static 'img/view.jpg' %}">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        {{ curso.name }}
                    </div>
                    <div class="card-content">
                        {{ curso.description }}
                    </div>
                    <div style="display: inline-flex">
                        <div class="card-members">
                            <span class="material-icons">people</span>
                            <p>{{ curso.members.count }}</p>
                        </div>
                        <div class="card-likes">
                            <span class="material-icons">thumb_up</span>
                            <p>{{ curso.likes.count }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}