<div class="panel-subtitle">Información sobre</div>
<div class="panel-title">{{ course.name }}</div>

<div class="panel-info-container">
    <a class="panel-info" href="{% url 'cursos:course_like' id=course.pk %}">
        <div class="panel-info-text">
            {% if liked %}
                <span class="material-icons like liked">thumb_up</span>
            {% else %}
                <span class="material-icons like">thumb_up</span>
            {% endif %}
            <p class="course-info-num">{{ course.likes.count }}</p>
        </div>
        <br>
        <p>Me gusta</p>
    </a>

    <a class="panel-info">
        <div class="panel-info-text">
            <span class="material-icons">people</span>
            <p class="course-info-num">{{ course.members.count }}</p>
        </div>
        <br>
        <p>Miembros</p>
    </a>

    <a class="panel-info">
        <div class="panel-info-text">
            <span class="material-icons">people</span>
            <p class="course-info-num">{{ course.members.count }}</p>
        </div>
        <br>
        <p>Miembros</p>
    </a>
</div>

<br>

<div class="panel-subtitle">Descripción</div>
<div class="panel-description">
    {{ course.description }}
</div>

<div style="text-align: center;">
    <a href="{% url 'cursos:adcourse_edit' id=course.pk %}" class="button-edit-2 no-style-a">
        <p>Editar capacitación</p>
        <span class="material-icons">edit</span>
    </a>
    <a href="" class="button-delete no-style-a">
        <p>Eliminar</p>
        <span class="material-icons">delete</span>
    </a>
</div>