<div class="panel-subtitle">Información sobre</div>
<div class="panel-title">{{ course.name }}</div>

<div class="panel-info-container">
    <a class="panel-info" href="">
        <div class="panel-info-text">
            <span class="material-icons">thumb_up</span>
            <p class="course-info-num">{{ course.members.count }}</p>
        </div>
        <br>
        <p>Me gusta</p>
    </a>

    <a class="panel-info">
        <div class="panel-info-text">
            <span class="material-icons">people</span>
            <p class="course-info-num">{{ course.members.count }}</p>
        </div>
        <br>
        <p>Miembros</p>
    </a>

    <a class="panel-info">
        <div class="panel-info-text">
            <span class="material-icons">people</span>
            <p class="course-info-num">{{ course.members.count }}</p>
        </div>
        <br>
        <p>Miembros</p>
    </a>
</div>

